<footer class="site-footer">
  <header class="post-header">
  <h1 class="post-title">Other Links</h1>

  <ul>
    {% if site.twitter %}
    <li class="twitter"><a href="{{ site.twitter }}">Twitter</a></li>
    {% endif %}

    {% if site.linkedin %}
    <li class="twitter"><a href="{{ site.linkedin }}">LinkedIn</a></li>
    {% endif %}

    {% if site.github_profile %}
    <li class="twitter"><a href="{{ site.github_profile }}">Github</a></li>
    {% endif %}

    {% if site.adslib %}
    <li class="twitter"><a href="{{ site.adslib }}">ADS Library</a></li>
    {% endif %}

    {% if site.aboutme %}
    <li class="twitter"><a href="{{ site.aboutme }}">about.me</a></li>
    {% endif %}

    {% if site.emailName %}
    <!-- <a href="mailto:{{ site.email_whex }}">Replace the Hex</a></li> -->
    <li class="email">
      <SCRIPT LANGUAGE="JavaScript">
        user = "{{ site.emailName }}"
        site = "{{ site.emailDomain }}"
        document.write('<a href=\"mailto:' + user + '@' + site + '\">');
        document.write(user + '@' + site + '</a>');
        </SCRIPT>
    </li>
    {% endif %}

    <!--
    <li class="weblink">Another Website: <a href="{{ site.weblinkurl_1 }}">{{ site.weblinktxt_1 }}</a></li>
    <li class="weblink">Another Website: <a href="{{ site.weblinkurl_2 }}">{{ site.weblinktxt_2 }}</a></li>
    -->
    <!--
    <p class="rss-subscribe">* Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    -->

  </ul>

</footer>
