<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <center>
    <img src="/images/640idx/lowell_lmiselfie.jpg" width=160>
    <img src="/images/640idx/lowell_42.jpg" width=160>
    <img src="/images/640idx/lowell_ldtcuberc.jpg" width=160>
    <img src="/images/640idx/sofia_nz.jpg" width=160>
    </center>
    <nav class="site-nav">

      <ul>
         <li><a class="site-home" href="{{ site.url }}">Home</a></li>
        {% for page in site.pages %}
        {% if page.title %}
          <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>

  </div>

</header>
