<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <center>
    <img src="/images/sofia_hawc_c64ed.png" width=160 height=100>
    <img src="/images/sofia_selfie_c64ed.png" width=160 height=100>
    <img src="/images/sofia_c64ed.png" width=160 height=100>
    <img src="/images/sofia_flitecam_c64ed.png" width=160 height=100>
    </center>
    <nav class="site-nav">
      
      <ul>
         <li><a class="site-home" href="{{ site.url }}">Home</a></li>
        {% for page in site.pages %}      
        {% if page.title %}
          <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>

  </div>

</header>


